<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-conntent">
             {{>header}}
        <p>
            <h2>{{error}}</h2>
        </p>
        </div>
        {{>footer}}
    </body>
</html>